<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weatherEmailAutomation</title>
  </head>
  <body>
    <center><h1>Get Weather of Your City</h1>
        <form action="sendEmail">
          <table cellpadding = "10px" cellspacing = "10px">
            <tr>
              <td><label for="email">Enter Your Email</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Your Email"
                  name="email"
                  id="emailId"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label for="name">Enter Your Name</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Your Name"
                  name="name"
                  id="nameId"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label for="city">Choose City:</label></td>
              <td>
                <select name="city" id="cityId">
                  <option value="Mumbai">Mumbai</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Kolkata">Kolkata</option>
                </select>
              </td>
            </tr>
            <tr>
                <td></td>
              <td><input type="submit" value="Get Weather" /></td>
            </tr>
          </table>
        </form>
    </center>
  </body>
</html>
